$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$primary-color: red; 

body {
  font: 100% $font-stack;
  color: $primary-color;
}

ul {
  > li {
    color: blue;
    font-weight: bold;
  }
}