doctype html
html(lang="en")
    head
        title Landing Page
    body
        h1 The future home of something magical
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut pretium erat. Aenean imperdiet congue purus. Morbi nec lorem vel orci varius auctor. Curabitur placerat porta facilisis. Integer ac nisi luctus justo tempus pulvinar. Nunc pharetra mauris a enim pretium ultricies. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Mauris interdum nisl id leo suscipit, vel pharetra ligula aliquet. Aenean vitae tristique sapien, vel imperdiet purus.
        ul
            li 