doctype html
html(lang="en")
    head
        title Flash Cards
        link(rel="stylesheet" href="/static/css/style.min.css")
    body
        include includes/header.pug
        block main
        include includes/footer.pug